[data-theme="dark"] {
  --color-bg: #0b1120;
  --color-bg-soft: #111827;
  --color-bg-muted: #1f2937;

  --color-text: #f1f5f9;
  --color-text-light: #cbd5e1;
  --color-text-muted: #94a3b8;

  --color-border: #1e293b;

  --color-primary: #4a8bc2;
  --color-secondary: #e2b86a;
}   